body {
    margin: 0;
    padding: 0;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 0.8em;
}

a {
    text-decoration: none;
    color: #3B5998;
}

a:hover {
    text-decoration: underline;
}


a:active {
	outline: none;
}

a:focus {
	-moz-outline-style: none;
}

.textbox {
	border: solid 1px gray;
}

.button {
	background-color: yellow;
}